<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <% messages.forEach(function(msg){ %>
      <div class="msg-container">
        <p class="msg-text"><%= msg.text %></p>
        <p class="author">By: <%= msg.user %></p>
        <p class="date">Date: <%= msg.added %></p>
      </div>
      <% }); %>
    </div>
    <a href="./new">Add a Message</a>
  </body>
</html>
