<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <% messages.forEach(function(msg){ %>
      <div>
        <p><%= msg.text %></p>
        <p><%= msg.user %></p>
        <p><%= msg.added %></p>
      </div>
      <% }); %>
    </div>
  </body>
</html>
